/* text style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Navigation Bar */
/* this makes the navbar appear when scrolling down the page */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* this CSS selectors is responsible for making the nav link move to the right of the nav bar */
.navbar-nav{ 
  margin-left: auto;
  margin-right: 0 !important;
}

/* this is for the hover feature  */
.navbar-nav li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.navbar-nav li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

/* Jumbotron */
.hero-banner{
  background-image: url(../images/quino-al-JFeOy62yjXk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
}

/* this aligns the text of the heading*/
.jumboCopy{
  text-align:center;
}

/* profile image */
/* this aligns the pic and text to the centre */
.profile-pic{
 max-width: 12rem; 
 text-align: center;
 position: absolute;
 top: 25%;
 left: 42%; 
}

/* this makes the heading in the hero-section white */
.jumboCopy h2{
  color: white;
  font-style: italic;
}
/* this makes my name white and italic */
.profile-pic h5 {
  color: white;
  font-style: italic;
}

.profile-pic p{
  color: white;
  font-style: italic;
}
/* projects */
.projects{
  background-image: url(../images/quino-al-JFeOy62yjXk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
}

.projects h2{
  color: white ;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;

}

/* about me */
.about-me{
  background-image: url(../images/faded-gray-background-with-paint-brush-texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 750px;
}
.about-me h1 {
  color: black ;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
}
.about-me p{
  color: black;
  font-style: italic;
  text-align: center;
  padding-bottom: 80px;
}

.skills-section{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.skills-section h2{
  color: black;
}


/* footer */
